[Desktop Entry]
Name=MarsWM
Comment=A modern window manager featuring dynamic tiling.
Exec=/usr/local/bin/marswm
TryExec=/us/localr/bin/marswm
Type=Application
